[submodule "VLMEvalKit"]
	path = VLMEvalKit
	url = ./VLMEvalKit
[submodule "lmms-eval"]
	path = lmms-eval
	url = https://github.com/EvolvingLMMs-Lab/lmms-eval
[submodule "mPLUG-Owl"]
	path = mPLUG-Owl
	url = ./mPLUG-Owl/
